/* Individual item */
.bm-item {
    display: inline-block;
  
    /* Our sidebar item styling */
    text-decoration: none;
    margin-bottom: 10px;
    color: #212529;
    transition: color 0.2s;
  }
  
  /* Change color on hover */
  .bm-item:hover {
    color: #5a6268;
  }
  
  /* The rest copied directly from react-burger-menu docs */
  
  /* Position and sizing of burger button */
  .bm-burger-button {
    opacity: 1.0;
    position: fixed;
    width: 25px;
    height: 25px;
    top: 130px;
    left: 20px;
  }

  .OpenMenu .bm-burger-button{
    width: 0px;
    height: 0px;
  }

  .bm-menu-wrap {
    z-index: 900 !important;
    position: fixed;
    bottom: 100;
    left: 1000;
    top: 122px !important;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 0px;
    width: 0px;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background:#e6e6e7;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #212529;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
