#Btn {
    width: 145px;
    height: 38px;
    margin: 5px;
    background-color: #004050;
    border: 1px solid #004050;
    text-transform: none;
}

#Btn:hover {
        background-color: white;
        color: #004050;
        border: 1px solid #004050;
}