.backdrop-style{
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:1030;

  /* Remove this background-color attribute if you want to get rid of the transparent grey backdrop */
  background-color:rgba(0, 0, 0, 0.25);
}

.overlay-title {
  text-align: center;
  position:relative;
  font-size: 28px;
}

.modal-style {
  /* Adjusted for occupancy form */
  min-width: 60vw;
  z-index: 1040;
  height: 568px;
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100vh - 150px);
  overflow-y: auto;
  transform: translate(-50%,-50%);
  border: 1px solid #e5e5e5;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  margin: 0 auto;
  padding: 20px;

  /* Modify at discretion */
  min-height: 50vh;
}

.close-btn:hover {
  background-color: #FFFFFF;
  color:#004050;
}

.close-btn{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  padding: 10px;
  color: white;
  background-color: #004050;
  border-radius: .5rem;
  border: 1px solid;
  position:relative;
  font-size: 1 rem;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  position: absolute;
  /* Adjusted for occupancy form */
  left: 51%;
  margin-left: -50px;
}

.x-btn:hover {
  background-color: #FFFFFF;
  color:#004050;
}

.x-btn{
  position:relative;
  float:right;
  top: -30px;

  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: white;
  background-color: #004050;
  border-radius: .25rem;
}